*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Spartan', sans-serif;
    background-color: #201B2D;
    color: #ffff;
}

header h1 {
    font-size: 0.8rem;
    font-weight: 900;
    margin: 2em 0 0 2em;
}

main{
    display: block;
    margin-left: 24px;
}

.content {
    border-left: .5em solid #fff;
}

.content h1 {
    font-size: 2rem;
    font-weight: 900;
}

.content p {
    font-size: 1rem;
    font-weight: 500;
    padding-left: 15px;
}

.autor{
    color: grey;
}

footer {
    margin-left: 24px;
}

footer p {
    color: grey;
    margin-bottom: 0;
}

footer h4 {
    margin-top: 0.5em;
}

.img{
    background-image: url(assets/nasa-image.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    width: 100vw;
}

@media screen and (min-width: 740px) {
    body {
        display: flex;
        /* flex-direction: column; */
    }
    .main{
        height: 100vh;
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 2em;
    }
    .img{
        height: 100vh;
        width: 50vw;
    }
}